<div class="container">
  <h2 align="end">Hola! Usuario</h2>
  <button mat-raised-button (click)="profile()" class="color-blue">
    <mat-icon>account_box</mat-icon> Ver mi perfil
  </button>
</div>
<div class="container" >
  <div class="example-button-row">
    <h2>Gestionar propietarios</h2>
    <div align="end">
      <button mat-raised-button (click)="add()" class="color-blue">
        <mat-icon>person_add</mat-icon> Agregar propietario
      </button>
      <button mat-raised-button (click)="deleteSelectedOwners()" class="color-green"
      type="button" [disabled]="selection.selected.length === 0" style="margin-left: 1rem;">
        <mat-icon>delete</mat-icon> Eliminar
      </button>
    </div>
  </div>

  <mat-form-field style="margin-left: 1rem;">
    <mat-label>Filtrar</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ejm. Juan Perez"
      #input
    />
  </mat-form-field>
  <br><br>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Correo</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="cellphone">
        <th mat-header-cell *matHeaderCellDef>Teléfono</th>
        <td mat-cell *matCellDef="let element">{{ element.cellphone }}</td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="columnsToDisplay.length"
        >
          <div
            class="example-element-detail"
            [@detailExpand]="
              element == expandedElement ? 'expanded' : 'collapsed'
            "
          >
            <div class="example-element-diagram">
              <div class="example-element-symbol">{{ element.name }}</div>
              <div class="example-element-name">{{ element.cellphone }}</div>
            </div>
            <div class="example-element-description">
              {{ element.email }}
              <span class="example-element-description-attribution">
                -- Estado actual
              </span>
            </div>
            <div class="example-button-row" align="end">
              <button
                mat-raised-button
                (click)="update(element)"
                class="color-blue"
              >
                <mat-icon>cached</mat-icon> Actualizar
              </button>
              <button
                mat-raised-button
                (click)="remove(element)"
                class="color-green" style="margin-left: 1rem;"
              >
                <mat-icon>delete</mat-icon> Eliminar
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: columnsToDisplay"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>

    </table>
    <mat-spinner *ngIf="spinner" diameter="30" style="margin:0 auto;"></mat-spinner>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
